body{
    background: chocolate;

}
header{
    background-color: crimson;
    padding: 20px;
}
#hero{
    background-color: brown;
    border-radius: 5px;
    height: 70vh;
    background: url(..//css/images/car.jpg);
    text-decoration-color: coral;



}
nav ul{
    display: flex;
    gap: 5px;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;

}
footer{
    text-align: center;
        background-color:wheat;
        padding: 20px;
}
#about{
    background: url(..//css/images/background.webp);
    height: 100vh;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}

form{
    width: 50%;
    margin: 1px auto;
    background-color:cornflowerblue;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 5px;

}
label{
/* display: block; */

}
input,textarea,select{
    border: 1px solid red;
    width: 100% ;
    border-radius: 5px;
}
input[type="radio"] {
    width: 1px;
}
input[type="checkbox"]{
    width: 1px;
}
button{
    background-color: red;
    width: 100%;
    border: none;
    color: none;
    cursor: pointer
}
#head{
    text-align: center;
}
h2{
    background-color:green;
    text-align: start;
}
#serv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightgray;
}

